<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">

    <!-- import waypoint and greensock -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>LOL - Marksman</title>
</head>
<body>
    <h1 class="main-header">League of Legend - Marksman</h1>
    <main>
        <!-- if we were using a framework, these might be 6-col or something-->
        <section id="ad1" class="ad-display">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/ashe.svg" type="image/svg+xml" class="svg-graphic" id="bottle"></object>
            
          </div>
        <div class="text-wrapper">
            <h3>ASHE</h3>
            <p>“One tribe, one people, one Freljord.''
            </p>
            <span class="see-more" data-target="1">See More</span>
          </div>
        </section>

        <section id="ad2">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/twitch.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            
          </div>
          <div class="text-wrapper">
            <h3>TWITCH</h3>
            <p> </p>
            <span class="see-more" data-target="2">See More</span>
          </div>
        </section>

        <section id="ad3">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/miss fortune.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
          </div>
          <div class="text-wrapper">
            <h3>MISS FORTUNE</h3>
            <p> </p>
            <span class="see-more" data-target="3">See More</span>
          </div>
        </section>

        <section id="ad4">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/ezreal.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
          </div>
          <div class="text-wrapper">
            <h3>EZREAL</h3>
            <p> </p>
            <span class="see-more" data-target="4">See More</span>
          </div>
        </section>

        <section id="ad5">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/vayne.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>VAYNE</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad6">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/caitlyn.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>CAITLYN</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad7">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/draven.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>DRAVEN</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad8">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/jinx.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>JINX</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad9">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/lucian.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>LUCIAN</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad10">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/kalista.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>KALISTA</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad11">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/kindred.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>KINDRED</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad12">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/jhin.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>JHIN</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad13">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/xayah.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>XAYAH</h3>
            <p> </p>
          </div>
        </section>

        <section id="ad14">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/kaisa.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>KAI'SA</h3>
            <p> </p>
          </div>
        </section>

        <section id="beer2">
          <div class="label_wrapper">
            <h1 class="hidden">Ad-carry</h1>
            <object data="images/twitch.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
            <span class="see-more" data-target="2">See More Info!</span>
          </div>
          <div class="text-wrapper">
            <h3>TWITCH</h3>
            <p> </p>
          </div>
        </section>

      

        <article class="popover">
          <h4 class="champ-name"></h4>
          <div class="nickname"></div>
          <h4 class="win"></h4>
          <h4 class="popularity"></h4>
        </article>
    </main>
    <script src="js/main.js"></script>
</body>
</html>