body{
  background: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#more {display: none;}

.hidden{display:none;}
.main-header{
  text-align:center;
  margin: 0 auto;
  margin-top:100px;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 100px;
  color:white;

}
.ad-display{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding:20px;
  width: 400px;

  
}
.svg-graphic{
  width:150px;
  padding:14px;
  margin: 0 auto;
}

.popover { 

    border-radius: 5px;
    padding:5px;
    border:1px solid black;

}
.show-popover { 
  display: block; 
  background-color: darkslategray;
    border-radius: 5px;
    padding:5px;
    border:1px solid black;
}
.text-wrapper{
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  
}
p{
  font-family: 'Caveat', cursive;
  text-align: center;
  color:white;
}
h3{
  font-family: 'Odibee Sans', cursive;
  text-align: center;
  color:white;
}
.see-more{
  font-family: 'Odibee Sans', cursive;
  font-size:13px;
  color:lightcyan;
}
span{
  justify-content: center;
  text-align: center;

}
h2{
  font-size:20px;
}

@media screen and (min-width: 1024px){
  .main-header{
    font-size: 37px;
  }
  .ad-display{
    width:800px;
    border-bottom: 0.3px solid darkslategrey;
  }
  .svg-graphic{
    width:180px;
  }
  p{
    font-size: 26px;
  }
  h2, h3{
    font-size:30px;
  }
}