.hidden{display:none;}
.main-header{
  text-align:center;
  margin: 0 auto;
  margin-top:100px;
  font-family: "Trajan Color", Arial, Helvetica, sans-serif;
}
.ad-display{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding:20px;
}
.svg-graphic{
  width:150px;
  padding:14px;
}